.DS_Store

/TAGS
/places
/ac-comphist.dat
/.mc-lists.el
/recentf
/personal-conf.el
/SessionDesktop.el
/srecode-map.el
/packages/extract.done
/projectile-bookmarks.eld
/smex-items

/auto-save-list/
/packages/extract/
/semanticdb/
